<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appUpdated</key>
	<false/>
	<key>newVersion</key>
	<false/>
	<key>adsDisplay</key>
	<false/>
	<key>downloadFile</key>
	<false/>
	<false/>
	<key>showRatting</key>
	<false/>
	<key>urlNewApp</key>
	<string>https://apps.apple.com/us/app/id1567909495</string>
</dict>
</plist>
