<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appUpdated</key>
	<true/>
	<key>newVersion</key>
	<true/>
	<key>adsDisplay</key>
	<true/>
	<key>downloadFile</key>
	<true/>
	<key>urlNewApp</key>
	<string>https://raw.githubusercontent.com/kidanh/apps/master/1567909495.txt</string>
</dict>
</plist>
